
    
    
    #playstation {
        color:red;
    }
    .new {
        font-size:large
    }

  

    .header{
        color:red
    }
    .header:hover{
        
            color:SkyBlue
          
        
    }
   