
    
    h2 {
        color:blue;
    }
    #playstation {
        color:red;
    }
    .new {
        font-size:large
    }

    .Ps1{
        from{
            
            color:red   
        }
        to{
            
            color:SkyBlue  
        }
    }
    .Ps2{
        from{
            
            color:red
        }
        to{
            
            color:SkyBlue
        }
    }
    .Ps3{
        from{
            
            color:red 
        }
        to{
            
            color:SkyBlue  
        }
    }
    .Ps4{
        from{
            
            color:red 
        }
        to{
            
            color:SkyBlue  
        }
    }
    .Ps5{
        from{
            
            color:red 
        }
        to{
            
            color:SkyBlue  
        }
    }